# Series

In [3]:
import pandas as pd
list_ingredientes = ['Patatas', 'Huevos', 'Leche', 'Manzanas', 'Tomate']
ser_ingredientes = pd.Series(list_ingredientes)
print(ser_ingredientes)

0     Patatas
1      Huevos
2       Leche
3    Manzanas
4      Tomate
dtype: object

# DataFrames

## Creación de DataFrames

In [6]:
import pandas as pd

df_empleados = pd.read_csv("datos/Employee.csv")
print(df_empleados)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

In [7]:
import pandas as pd
import numpy as np
dic_personas = {
    'PERSONA_ID' : [1, 2, 3, 4],
    'NOMBRE' : ['Pepe', 'Ana', 'Luis', 'Eva'],
    'FECHA_NACIMIENTO' : [np.datetime64('2007-10-11'), np.datetime64('2005-11-15'), np.datetime64('2000-01-21'), np.datetime64('2002-06-02')],
    'SOLTERO' : [True, False, True, True],
    'ALTURA' : [180, 178, 174, 182],
    'PESO' : [82.5, 74.8, 80.5, 81]
}
print(type(dic_personas))
df_personas = pd.DataFrame(dic_personas)
print(df_personas)

<class 'dict'>
   PERSONA_ID NOMBRE FECHA_NACIMIENTO  SOLTERO  ALTURA  PESO
0           1   Pepe       2007-10-11     True     180  82.5
1           2    Ana       2005-11-15    False     178  74.8
2           3   Luis       2000-01-21     True     174  80.5
3           4    Eva       2002-06-02     True     182  81.0

In [8]:
import pandas as pd
import numpy as np
df_personas = pd.DataFrame(
    [
      [55, 'Antonio', np.datetime64('2001-01-10'), False, 174, 78.1], 
      [56, 'Juan', np.datetime64('2002-05-22'), True, 189, 99.5], 
      [57, 'María', np.datetime64('2000-10-11'), False, 172, 72.5]
    ],
    columns=['PERSONA_ID', 'NOMBRE', 'FECHA_NACIMIENTO', 'SOLTERO', 'ALTURA', 'PESO']
    )
print(df_personas)

   PERSONA_ID   NOMBRE FECHA_NACIMIENTO  SOLTERO  ALTURA  PESO
0          55  Antonio       2001-01-10    False     174  78.1
1          56     Juan       2002-05-22     True     189  99.5
2          57    María       2000-10-11    False     172  72.5

In [12]:
import pandas as pd
import numpy as np

arr_alumnos = np.array([
    ['Ana','Ruiz'],
    ['Luis','Gómez'],
    ['Pepe','Cos'],
    ['Eva','Toro'],
    ['Juan','García'],
    ['Carlos','Sanz']
])
print(type(arr_alumnos))
df_alumnos = pd.DataFrame(arr_alumnos, columns=['Nombre','Apellido'])
print(df_alumnos)

<class 'numpy.ndarray'>
   Nombre Apellido
0     Ana     Ruiz
1    Luis    Gómez
2    Pepe      Cos
3     Eva     Toro
4    Juan   García
5  Carlos     Sanz

In [1]:
import pandas as pd
import numpy as np

arr_alumnos = np.array([
    ['Ana','Luis','Pepe','Eva','Juan','Carlos'],
    ['Ruiz','Gómez','Cos','Toro','García','Sanz']
])
print(type(arr_alumnos))
df_alumnos = pd.DataFrame(arr_alumnos.T, columns=['Nombre','Apellido'])
print(df_alumnos)

<class 'numpy.ndarray'>
   Nombre Apellido
0     Ana     Ruiz
1    Luis    Gómez
2    Pepe      Cos
3     Eva     Toro
4    Juan   García
5  Carlos     Sanz

In [17]:
import pandas as pd
import numpy as np

list_alumnos = [
    ['Ana','Luis','Pepe','Eva','Juan','Carlos'],
    ['Ruiz','Gómez','Cos','Toro','García','Sanz']
]
print(type(list_alumnos))
arr_alumnos = np.array(list_alumnos)
df_alumnos = pd.DataFrame(arr_alumnos.T, columns=['Nombre','Apellido'])
print(df_alumnos)

<class 'list'>
   Nombre Apellido
0     Ana     Ruiz
1    Luis    Gómez
2    Pepe      Cos
3     Eva     Toro
4    Juan   García
5  Carlos     Sanz

In [18]:
import pandas as pd
import numpy as np

list_alumnos = [
    ['Ana','Ruiz'],
    ['Luis','Gómez'],
    ['Pepe','Cos'],
    ['Eva','Toro'],
    ['Juan','García'],
    ['Carlos','Sanz']
]
print(type(list_alumnos))
df_alumnos = pd.DataFrame(list_alumnos, columns=['Nombre','Apellido'])
print(df_alumnos)

<class 'list'>
   Nombre Apellido
0     Ana     Ruiz
1    Luis    Gómez
2    Pepe      Cos
3     Eva     Toro
4    Juan   García
5  Carlos     Sanz

## Modificación de Estructura DataFrames

In [31]:
import pandas as pd
import numpy as np

arr_alumnos = np.array([
    ['Ana','Ruiz'],
    ['Luis','Gómez'],
    ['Pepe','Cos'],
    ['Eva','Toro'],
    ['Juan','García'],
    ['Carlos','Sanz']
])
df_alumnos = pd.DataFrame(arr_alumnos, columns=['Nombre','Apellido'])
print(df_alumnos)

   Nombre Apellido
0     Ana     Ruiz
1    Luis    Gómez
2    Pepe      Cos
3     Eva     Toro
4    Juan   García
5  Carlos     Sanz

In [3]:
list_matematicas = [3, 7, 5, 5, 1, 9]
arr_lenguaje = np.array([4, 4, 8, 2, 6, 7])
ser_sociales = pd.Series([4, 4, 8, 2, 6, 7])
print(type(list_matematicas))
df_alumnos['Matematicas'] = list_matematicas
df_alumnos['Lenguaje'] = arr_lenguaje
df_alumnos['Sociales'] = ser_sociales
print(df_alumnos)

<class 'list'>
   Nombre Apellido  Matematicas  Lenguaje  Sociales
0     Ana     Ruiz            3         4         4
1    Luis    Gómez            7         4         4
2    Pepe      Cos            5         8         8
3     Eva     Toro            5         2         2
4    Juan   García            1         6         6
5  Carlos     Sanz            9         7         7

In [32]:
arr_nuevas_columnas = np.array([
    ['11111111A','Laredo'],
    ['22222222B','Castro'],
    ['33333333C','Cicero'],
    ['44444444D','Noja'],
    ['55555555E','Meruelo'],
    ['66666666F','Gama']
])
df_nuevas_columnas = pd.DataFrame(arr_nuevas_columnas, columns=['DNI','Localidad'])
# df_alumnos = pd.concat([df_alumnos, df_nuevas_columnas], axis = 1)
df_alumnos = df_alumnos.join(df_nuevas_columnas)
print(df_alumnos)

   Nombre Apellido        DNI Localidad
0     Ana     Ruiz  11111111A    Laredo
1    Luis    Gómez  22222222B    Castro
2    Pepe      Cos  33333333C    Cicero
3     Eva     Toro  44444444D      Noja
4    Juan   García  55555555E   Meruelo
5  Carlos     Sanz  66666666F      Gama

In [33]:
ser_alumnos_reducido = df_alumnos['DNI']
df_alumnos_reducido = df_alumnos[['DNI','Apellido']]
print(type(ser_alumnos_reducido))
print(ser_alumnos_reducido)
print(type(df_alumnos_reducido))
print(df_alumnos_reducido)

<class 'pandas.core.series.Series'>
0    11111111A
1    22222222B
2    33333333C
3    44444444D
4    55555555E
5    66666666F
Name: DNI, dtype: object
<class 'pandas.core.frame.DataFrame'>
         DNI Apellido
0  11111111A     Ruiz
1  22222222B    Gómez
2  33333333C      Cos
3  44444444D     Toro
4  55555555E   García
5  66666666F     Sanz

## Modificación del Contenido de un DataFrame

In [26]:
import pandas as pd
import numpy as np

arr_alumnos = np.array([
    ['Ana','Ruiz'],
    ['Luis','Gómez'],
    ['Pepe','Cos'],
    ['Eva','Toro'],
    ['Juan','García'],
    ['Carlos','Sanz']
])
df_alumnos = pd.DataFrame(arr_alumnos, columns=['Nombre','Apellido'])
print(df_alumnos)

   Nombre Apellido
0     Ana     Ruiz
1    Luis    Gómez
2    Pepe      Cos
3     Eva     Toro
4    Juan   García
5  Carlos     Sanz

In [28]:
import pandas as pd
import numpy as np

arr_nuevos_alumnos = np.array([
    ['Enrique','Clavel'],
    ['Teresa','Pozo'],
])
df_nuevos_alumnos = pd.DataFrame(arr_nuevos_alumnos, columns=['Nombre','Apellido'])
df_alumnos = pd.concat([df_alumnos, df_nuevos_alumnos], axis = 0)

print(df_alumnos)

    Nombre Apellido
0      Ana     Ruiz
1     Luis    Gómez
2     Pepe      Cos
3      Eva     Toro
4     Juan   García
5   Carlos     Sanz
0      Ana     Ruiz
1     Luis    Gómez
0  Enrique   Clavel
1   Teresa     Pozo

# Estadística

In [34]:
import pandas as pd

df_empleados = pd.read_csv("datos/Employee.csv")
print(df_empleados)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

In [40]:
ser_edades = df_empleados['Age']
print('Cantidad de Edades: ', ser_edades.count())
print('Suma de todas las Edades: ', ser_edades.sum())
print('Suma acumulada de las Edades: \n', ser_edades.cumsum())
print('Cantidad de Edades por Edad: \n', ser_edades.value_counts())
print('Mínimo: ', ser_edades.min())
print('Máximo: ', ser_edades.max())
print('Media: ', ser_edades.mean())
print('Varianza: ', ser_edades.var())
print('Desviación Típica: ', ser_edades.std())
print('Datos Estadísticos: \n', ser_edades.describe())

Cantidad de Edades:  4653
Suma de todas las Edades:  136767
Suma acumulada de las Edades:
 0           34
1           62
2          100
3          127
4          151
         ...
4648    136640
4649    136677
4650    136704
4651    136734
4652    136767
Name: Age, Length: 4653, dtype: int64
Cantidad de Edades por Edad:
 26    645
28    630
27    625
25    418
24    385
29    230
30    220
37    141
36    139
34    136
38    136
40    134
32    132
39    131
31    125
33    124
35    123
41     82
22     49
23     48
Name: Age, dtype: int64
Mínimo:  22
Máximo:  41
Media:  29.393294648613796
Varianza:  23.29111581965519
Desviación Típica:  4.826087009126047
describe:  count    4653.000000
mean       29.393295
std         4.826087
min        22.000000
25%        26.000000
50%        28.000000
75%        32.000000
max        41.000000
Name: Age, dtype: float64